/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$positive:						#8D1632 !default;

$stable:						#57585B !default;
$energized:						#52822F !default;

$button-stable-text:			#fff !default;
$button-border-radius:			0 !default;


$base-background-color:			#fff !default;
$bar-default-bg:				transparent !default;

$link-color:					#8D1632 !default;

$font-family-base:				'mr_alexlight', Impact, sans-serif !default;

$grid-padding-width: 			0 !default;


$button-block-margin:			0 !default;

$bar-footer-height:				60px !default;

$font-size-base:                  14px !default;
$font-size-large:                 18px !default;
$font-size-small:                 11px !default;


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

