/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2015 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Hipopotam Studio
 * License URL: http://www.fontspring.com/licenses/hipopotam/webfont
 *
 *
 */

@font-face {
    font-family: 'mr_alex_regularregular';
    src: url('MrAlex-Regular-webfont.eot');
    src: url('MrAlex-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('MrAlex-Regular-webfont.woff2') format('woff2'),
         url('MrAlex-Regular-webfont.woff') format('woff'),
         url('MrAlex-Regular-webfont.ttf') format('truetype'),
         url('MrAlex-Regular-webfont.svg#mr_alex_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

