<!DOCTYPE html>
<html ng-app="originsApp">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

	<title>Cafe Imports - Origin Records</title>

	<link href="fonts/mralex_light_macroman/stylesheet.css" rel="stylesheet" type="text/css">
	<link href='fonts/google_raleway/raleway.css' rel='stylesheet' type='text/css'>

	<!-- compiled css output -->
	<link href="css/ionic.app.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

	<!-- ionic/angularjs js -->
	<script src="lib/ionic/js/ionic.bundle.js"></script>
	<script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
	<script src="lib/ionic/js/angular/angular-ios9-uiwebview.patch.js"></script>

	<script src="lib/ionic/js/angular/angular-touch.js"></script>
	<link href="lib/angular-carousel/angular-carousel.min.css" rel="stylesheet">
	<script src="lib/angular-carousel/angular-carousel.js"></script>


	<script src="lib/canvastext/CanvasText-0.4.1.js"></script>
	<script src="lib/watermark.js"></script>

	<!--
	<script type="text/javascript" src="lib/tinymce/tinymce.js"></script>
	<script type="text/javascript" src="lib/angular-ui-tinymce/tinymce.js"></script>-->

	<!-- cordova script (this will be a 404 during development) -->
	<script src="cordova.js"></script>


	<!-- your app's js -->
	<script src="js/app.js"></script>
	<script src="js/global/functions.js"></script>
	<script src="js/global/loading.js"></script>
	<script src="js/global/sync.js"></script>
	<script src="js/global/sync.upload.js"></script>
	<script src="js/global/sync.download.js"></script>
	<script src="js/global/email.js"></script>
	<script src="js/config.js"></script>
	<script src="js/auth.js"></script>
	<script src="js/storage.js"></script>
	<script src="js/my_alert.js"></script>


	<script src="directives/autocomplete/autocomplete.js"></script>

	<link href="directives/fullscreen-image/style.css" rel="stylesheet">
	<script src="directives/fullscreen-image/directive.js"></script>

	<script src="js/controllers/index.js"></script>
	<script src="js/controllers/farm.js"></script>
	<script src="js/controllers/farm.view.js"></script>
	<script src="js/controllers/farm.location.js"></script>
	<script src="js/controllers/farm.people.js"></script>
	<script src="js/controllers/farm.size.js"></script>
	<script src="js/controllers/farm.varieties.js"></script>
	<script src="js/controllers/farm.processing.js"></script>
	<script src="js/controllers/farm.legacy.js"></script>
	<script src="js/controllers/farm.plans.js"></script>
	<script src="js/controllers/farm.photos.js"></script>

	<script src="js/controllers/postcard.js"></script>

	<script src="js/controllers/login.js"></script>
	<script src="js/controllers/settings.js"></script>
	<script src="js/controllers/page.js"></script>
</head>

<body ng-controller="IndexController" class="fullscreen">
<ion-side-menus>
	<!-- Main content -->
	<ion-side-menu-content>

		<ion-header-bar class="bar ci-alt-font ci-top-bar">

			<button menu-toggle="left" class="button icon ci-menu-button"></button>
			&nbsp;&nbsp;
			<button ng-if="user_id" class="button icon ci-sync-button" ng-click="sync()"></button>

			<a class="button button-clear ci-link ci-settings-link" ng-if="user_id" ng-href="#/settings">
				Hello, {{name}}
			</a>

			<a ng-href="#/login" class="button button-clear ci-link" ng-if="!user_id">
				Login
			</a>

		</ion-header-bar>

		<ion-nav-view></ion-nav-view>

		<ion-footer-bar class="ci-footer">

			<img src="img/footer-logo.png" class="ci-footer-logo">

			<img src="img/footer-slogan.png" class="ci-footer-slogan">

		</ion-footer-bar>

	</ion-side-menu-content>

	<!-- Left Side Menu -->
	<ion-side-menu side="left">
		<ion-content class="ci-has-statusbar">
			<ion-list>

				<ion-item nav-clear="" menu-close="" ng-href="#/" class="item-icon-right">
					Home
					<i class="icon ion-home"></i>
				</ion-item>

				<ion-item nav-clear="" menu-close="" href="" ng-click="openPopup()" class="item-icon-right">
					Add Record
					<i class="icon ion-plus"></i>
				</ion-item>

				<ion-item nav-clear="" menu-close="" ng-href="#/farm" class="item-icon-right">
					View All Records
					<i class="icon ion-grid"></i>
				</ion-item>

				<!--<ion-item nav-clear="" menu-close="" ng-href="#/" class="item-icon-right">
				    Compass
				    <i class="icon ion-compass"></i>
				</ion-item>-->

				<ion-item nav-clear="" menu-close="" ng-href="#/postcard" class="item-icon-right">
					Postcards
					<i class="icon ion-camera"></i>
				</ion-item>

				<!--<ion-item nav-clear="" menu-close="" ng-href="#/" class="item-icon-right">
					Video
					<i class="icon ion-videocamera"></i>
				</ion-item>

				<ion-item nav-clear="" menu-close="" ng-href="#/" class="item-icon-right">
					Audio
					<i class="icon ion-ios-mic"></i>
				</ion-item>-->

			</ion-list>
		</ion-content>
	</ion-side-menu>
	</ion-side-menu>

</ion-side-menus>
</body>



</html>
