<div class="modal">
	<ion-header-bar class="bar-positive">

		<h1 class="title">{{title}}</h1>
		<a class="button icon-right ion-ios-close-empty button-clear" ng-click="closeModal()"></a>

	</ion-header-bar>

	<div class="bar bar-subheader">
		
		<div class="item item-input">
			<label class="item-input-wrapper">
				<input type="search" placeholder="" ng-model="search.$" id="modal-search-{{rel}}">
			</label>
			<button class="button button-positive button-small" ng-click="submit()"> ok </button>
		</div>
		
	</div>
	<ion-content class="has-subheader">		
		<div class="list">
			<a class="item" ng-repeat="row in src | orderBy: 'name' | filter:search" ng-click="selectItem(row.name)">
			 	{{row.name}}
			</a>
		</div>
	
	</ion-content>
</div>

