
<div class="item bar bar-assertive" ng-if="email_error">
    {{email_error}}
</div>

<p ng-if="email_please_wait">
	Please wait...
</p>
<div ng-if="email_processing">
	
	<span ng-if="email_progress_percentage == 100"> Email Sent!</span>
	<span ng-if="email_progress_percentage != 100"> Sending... </span>
	<div class="progress">
		<div class="progress-percentage" style="width: {{email_progress_percentage}}%"></div>
	</div>
</div>

<div class="list list-inset" ng-if="!email_processing">
	<label class="item item-input-inset">
        <input type="email" placeholder="From" name="from" id="email-from">
    </label>
    <label class="item item-input-inset">
        <input type="email" placeholder="To email address" name="email" id="email-to">
    </label>
</div>