<ion-view cache-view="false">
<ion-content overflow-scroll="true">

 	<h2 class='ci-sub-header'>Harvest Schedule</h2>
    
    
	<div style="overflow: auto; overflow-x: scroll; overflow-y: hidden; white-space: nowrap;" class="page-scroller">    
		<img ng-src="img/harvest-schedule.png" class="native" style="width: {{width}}; height: {{height}}" id="page-image" >
	</div>	
	
</ion-content>
</ion-view>