<ion-view cache-view="false">
<ion-content>

    <div class="ci-body">

        <img ng-src="img/icon/icon.png" class="ci-home-icon">

        <table class='ci-home-links'>
            <tr>
                <td>
                    <a href class="ci-large-text ci-alt-link" ng-click="openPopup()">
                        Add a record
                    </a>

                </td>

                <td>
                    <a ng-href="#/farm" class="ci-large-text ci-alt-link ">
                        View All Records
                    </a>
                </td>
            </tr>

            <tr>
                <td>
                    <a ng-href="#/tools" class="ci-large-text ci-alt-link">
                        Origin Tools
                    </a>
                </td>

                <td>
                    <a href ng-click="capturePhoto()" class="ci-large-text ci-alt-link">
                        Postcard
                    </a>

                </td>
            </tr>

        </table>



        <div class="ci-home-listing">
            <div class="ci-home-listing-item" ng-repeat="row in listing | orderBy:'created_at':true">
                <div class="ci-full-img" style="background-image: url({{(row.photos[0]) ? full_path(row.photos[0]) : 'img/no-photo.png'}})">
                    <a  ng-href="#/farm/view/{{row.id}}">
                        <img ng-src="{{ full_path(row.photos[0]) }}" ng-if="row.photos[0]" fullscreeen>
                        <h2>{{row.name}}</h2>
                    </a>
                </div>

            </div>
        </div>

    </div>


</ion-content>
</ion-view>
