<ion-view>
<ion-content>
    
    <form class="text-center" ng-submit="submit()">
        
        <p>
            <h3>Connect to web account</h3>
        </p>
    
        <div class="list list-inset">
            
            <div class="item bar bar-assertive" ng-if="status == 'error' ">
                {{message}}
            </div>
            
            <div class="item bar bar-positive" ng-if="status == 'success' ">
                {{message}}
            </div>
            
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="rec.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="rec.password">
            </label>
            
            <input type="submit" value="Login" class="button button-block" />
            
        </div>       
        
    </form>
    
</ion-content>
</ion-view>