<ion-view>
<ion-content>
    
    <h2 class='ci-sub-header'>Settings</h2>

    <div class="ci-body padding">

        <h3 class="ci-subsection-title">
            Account Information
            <button ng-click="logout()" class="button button-positive button-small" style="float: right">
              Logout
            </button>
        </h3>

        <form class="ci-list" ng-submit="submit()">

            <input type="hidden" ng-model="settings.id" >

            <div class="list">

                <div class="item bar bar-assertive" ng-if="status == 'error' ">
                    {{message}}
                </div>
                
                <div class="item bar bar-positive" ng-if="status == 'success' ">
                    {{message}}
                </div>
                
                <label class="item item-input item-stacked-label">
                    <span class="input-label">First Name</span>
                    <input type="text" ng-model="settings.first_name" placeholder="First Name">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" ng-model="settings.last_name" placeholder="Last Name">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="text" ng-model="settings.username" placeholder="Email">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Password <small>(Leave blank to keep current password)</small></span>
                    <input type="password" ng-model="settings.password" >
                </label>

                <label class="item item-input item-stacked-label" ng-if="settings.password != ''">
                    <span class="input-label">Confirm Password</span>
                    <input type="password" ng-model="settings.confirm_password" >
                </label>

                
                <ion-checkbox ng-model="settings.multi_user" class="ci-plain-item">Multi-User Mode</ion-checkbox>

                <ion-checkbox ng-model="settings.wifi_sync_only" class="ci-plain-item">Only Sync Over Wi-Fi</ion-checkbox>
                

            </div>

           
            <hr>


            <div class="row">
                <div class="col padding-horizontal">
                    <a ng-href="#/" class="button button-block button-stable">Cancel</a>
                </div>
                <div class="col padding-horizontal">
                    <button type="submit" class="button button-block button-energized">Save</a>
                </div>
            </div>

        </form>

    </div>
    
</ion-content>
</ion-view>