<div ng-if="upload_processing">
	
	<span ng-if="upload_progress_percentage == 100"> Upload Completed!</span>
	<span ng-if="upload_progress_percentage != 100"> Uploading... </span>
	<div class="progress">
		<div class="progress-percentage" style="width: {{upload_progress_percentage}}%"></div>
	</div>
</div>


<div ng-if="download_processing">
	
	<span ng-if="download_progress_percentage == 100"> Download Completed!</span>
	<span ng-if="download_progress_percentage != 100"> Downloading... </span>
	<div class="progress">
		<div class="progress-percentage" style="width: {{download_progress_percentage}}%"></div>
	</div>
</div>