<ion-view>
<ion-content>
    
    <h2 class='ci-sub-header'>Origin Tools</h2>

    <div class="ci-body">

        

        <div class="list">

            <a class="item" ng-href="#/variety-tree">
                Variety Tree
            </a>

            <a class="item" ng-href="#/harvest-schedule">
                Harvest Schedule
            </a> 

        </div>
    
</ion-content>
</ion-view>