<div class="modal">
	<ion-header-bar class="bar-positive">

		<a class="button icon-left ion-chevron-left button-clear" ng-click="closeModal()"></a>

		<h1 class="title">Processing Video</h1>
	</ion-header-bar>
	<ion-content>
    	<video ng-src="{{clip}}" controls="controls"></video>
    </ion-content>
</div>