<ion-view cache-view="false">
	<ion-content class='has-header'>
		<h2 class='ci-sub-header'>Postcards</h2>

		<div class="ci-body">
			<div class="ci-home-listing">
				<div class="ci-home-listing-item" ng-repeat="row in listing | orderBy:'created_at':true">
					<div class="ci-full-img" style="background-image: url({{ full_path(row['img']) }})">
						<img src="{{ full_path(row['img']) }}" fullscreeen>
					</div>

				</div>
			</div>

		</div>
		</div>

	</ion-content>
</ion-view>
