<div class="modal postcard-modal">
	<ion-header-bar class="bar-positive">

		<h1 class="title">Postcard</h1>
		<a class="button icon-right ion-ios-close-empty button-clear" ng-click="closePostcardModal()"></a>

	</ion-header-bar>

	<div class="bar bar-subheader">

		<div class="item item-input">
			<label class="item-input-wrapper">
				<input type="text" placeholder="Insert the postcard title" ng-model="postcard.title" id="postcard-title"> </label>
			<button class="button button-positive button-small" ng-click="resetPostcard()"> ok</button>
		</div>

	</div>


	<ion-content class="has-subheader" scroll="false">

		<form ng-submit="postcardSave()">

			<input type="hidden" ng-model="postcard.alt" id="postcard-alt" value="{{ postcard.alt }}">
			<input type="hidden" id="postcard-img">

			<div class="postcard-bg">
				<img ng-src="{{ postcard.img }}" class="watermark" >
			</div>


		</form>
	</ion-content>

	<ion-footer-bar class="bar-light">
		<button class="button button-block button-positive" ng-click="postcardSave()">Save</button>
	</ion-footer-bar>

</div>
