<ion-modal-view class="padding">
    <form ng-submit="submit()">
        
        <ion-content class="text-center padding">
            
            <h3>Create a new record</h3>
            
            <p>So you are here. Let's start by giving this place a name.</p>
            
            <div class="list list-inset">
                <label class="item item-input-inset">
                    <input type="text" placeholder="Farm / Mill / Coop Name" ng-model="farm.name" name="name">
                </label>
            </div>


        </ion-content>

        <ion-footer-bar class="bar-stable">

            <a class="button button-stable" ng-click="closeModal()">Cancel</a>
            <input type="submit" class="button button-positive pull-right" value=" Submit" />

        </ion-footer-bar>
        
    </form>
</ion-modal-view>