<form ng-submit="submit()">
            
    <p>So you are here. Let's start by giving this place a name.</p>

    <div class="list list-inset">
        <label class="item item-input-inset">
            <input type="text" placeholder="Farm / Mill / Coop Name" ng-model="farm.name" name="name">
        </label>
    </div>

</form>