<ion-view cache-view="false">
    <ion-content class='has-header' >
        <h2 class='ci-sub-header'>View All Records</h2>

        <div class="ci-body">
            <div class="list">

                <div class="item" ng-repeat="(id, row) in listing">
                    <div class="row">
                        <div class="col-20 padding-right">
                            <a ng-href="#/farm/view/{{row.id}}">
                                <div class="ci-item-thumb ci-full-img" style="background-image: url({{(row.photos[0]) ? full_path(row.photos[0]) : 'img/no-photo.png'}})">
                                    <img ng-if="row.photos[0]" ng-src="{{full_path(row.photos[0])}}">
                                </div>
                            </a>
                        </div>

                        <div class="col col-bottom">

                            <span ng-if="row.location.country">{{row.location.country}} - </span>
                            {{row.name}}<br />
                            {{row.created_at | date: "MM/dd/yyyy"}}
                            <a class="button button-outline icon ion-ios-more ci-icon-bottom" ng-click="show=!show" href></a>

                            <div class="ci-options button-bar"  ng-show="show">
                                <a class="button button-small" ng-href="#/farm/save/{{row.id}}/">Edit</a>
                                <a class="button button-small" href ng-click="email(row.id)">Email</a>
                                <a class="button button-small" href ng-click="delete_record(row.id)">Delete</a>
                                <a class="button button-small" ng-href="#/farm/view/{{row.id}}">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
