<ion-view cache-view="false">
    <ion-content>

        <div class="ci-body padding">
        
            <h3 class="ci-subsection-title">
                Farm Size
                <a ng-href="#/farm/view/{{farm_id}}" class="button button-clear button-positive ci-pull-right">View Record</a><a ng-href="#/farm/save/{{farm_id}}/" class="button icon-left ion-chevron-left button-clear button-positive ci-pull-right">Back to main</a>
            </h3>
            
            <form class="ci-list" ng-submit="sizeSubmit()">
                
                <div class="list">
                    
                    <div class="item item-input item-stacked-label">
                        <span class="input-label">Size of Farm</span>
                        <div class="row">

                            <div class="col">
                                <input type="text" ng-model="farm.size.size" placeholder=""> 
                            </div>
                            
                            <div class="col">
                                <label class="item item-input item-select ci-no-label ci-sub-item">
                                    <select ng-model="farm.size.unit">
                                        <option value="hectares">Hectares</option>
                                        <option value="acres">Acres</option>
                                    </select>
                                </label>                    
                            </div>              
                        </div>
                    </div>

                    <div class="item item-input item-stacked-label">
                        <span class="input-label">Planted In Coffee</span>
                        <div class="row">

                            <div class="col">
                                <input type="text" ng-model="farm.size.planted_in_coffee_area" placeholder="">
                            </div>

                            <div class="col">
                                <label class="item item-input item-select ci-no-label ci-sub-item">
                                    <select ng-model="farm.size.planted_in_coffee_unit">
                                        <option value="hectares">Hectares</option>
                                        <option value="acres">Acres</option>
                                    </select>
                                </label>                    
                            </div>              
                    
                        </div>
                    </div>


                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Total Anual Coffee Production</span>
                        <input type="text" ng-model="farm.size.anual_coffee_production" placeholder="In Bags or Lbs.">
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Soil Type</span>
                        <input type="text" ng-model="farm.size.soil_type" placeholder="Soil Description">
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Other Crops</span>
                        <input type="text" ng-model="farm.size.other_crops" placeholder="Add Crops">
                    </label>

                </div>
                
                <hr>
                
                <div class="row">
                    <div class="col padding-horizontal">
                        <button type="submit" class="button button-block button-stable">Save</button>
                    </div>
                    <div class="col padding-horizontal">
                        <a class="button button-block button-energized" ng-click="sizeSubmit('next')">Next</a>
                    </div>
                </div>
                
            </form>

        </div>
        
    </ion-content>
</ion-view>