<ion-view cache-view="false">
<ion-content>

    <div class="ci-body padding">

        <h3 class="ci-subsection-title">
            Plans / Future
            <a ng-href="#/farm/view/{{farm_id}}" class="button button-clear button-positive ci-pull-right">View Record</a><a ng-href="#/farm/save/{{farm_id}}/" class="button icon-left ion-chevron-left button-clear button-positive ci-pull-right">Back to main</a>
        </h3>

        <form class="ci-list" ng-submit="plansSubmit()">

            <div class="list">
                
                <div class="item item-input item-stacked-label">
                                  
                    <textarea ui-tinymce ng-model="farm.plans.text" placeholder="Start Typing"></textarea>

                </div>

            </div>

           
            <hr>


            <div class="row">
                <div class="col padding-horizontal">
                    <button type="submit" class="button button-block button-stable">Save</button>
                </div>
                <div class="col padding-horizontal">
                    <a class="button button-block button-energized" ng-click="plansSubmit('next')">Next</a>
                </div>
            </div>

        </form>
    </div>

</ion-content>
</ion-view>