<ion-view cache-view="false" >
    <ion-content class='has-header'>
        <h2 class='ci-sub-header'>Edit Origin Record</h2>
    
        <div class="ci-section-title">
            <div>
                <div class="ci-wrapper">                

                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Farm/Mill/Coop Name</span>
                            <input type="text" value="{{farm.name}}" ng-keyup="update('name')" ng-model="farm.name" id="farm-name-input">
                        </label>

                        <div class="row">
                            <div class="col">
                                <span class="input-label" ng-if="!farm.visit_date">
                                    Date Recorded <br>
                                    <span class="ci-alt-font">{{farm.created_at | date:"MM/dd/yyyy"}}</span>
                                </span>
                            </div>
                            <div class="col">
                                <span class="input-label" ng-if="farm.visit_date">
                                    Created by <br>
                                    <span class="ci-alt-font">{{farm.visit_date | date:"MM/dd/yyyy"}}</span>
                                </span>
                            </div>
                        </div> 
                    </div>

                </div>
            </div>            
        </div>

        <ion-nav-view class='ci-sub-view' style="margin-top:150px"></ion-nav-view>
        
    </ion-content>

</ion-view>