<ion-view cache-view="false">
<ion-content>

    <div class="ci-body padding">

        <h3 class="ci-subsection-title">
            Photos
            <a ng-href="#/farm/view/{{farm_id}}" class="button button-clear button-positive ci-pull-right">View Record</a><a ng-href="#/farm/save/{{farm_id}}/" class="button icon-left ion-chevron-left button-clear button-positive ci-pull-right">Back to main</a>
        </h3>

        <form class="ci-list" ng-submit="photosSubmit()">

            <div class="list">

                <div class="item item-input item-stacked-label">

                    <div class="row text-center padding-vertical">

                        <div class="col">
                            <a class="button ion-ios-camera" ng-click="capturePhoto()"></a>
                            <br>Take a photo
                        </div>

                        <div class="col">
                            <a class="button ion-grid" ng-click="selectPhoto()"></a>
                            <br> Select from Gallery
                        </div>

                    </div>
                </div>

                <div class="item item-input item-stacked-label padding-vertical" ng-if="sizeOf(farm.photos)">

                    <div class="list">
                        <div ng-repeat="(key, value) in farm.photos" class="item item-thumbnail-left">
                            <img ng-src="{{ full_path(farm.photos[key]) }}" fullscreen>
                            <a class="button button-assertive button-clear" ng-click="removePhoto(key)" href> Remove </a>
                            <input type="hidden" ng-model="farm.photos[key]">
                        </div>
                    </div>

                </div>


            </div>


            <hr>


            <div class="row">
                <div class="col padding-horizontal">
                    <button type="submit" class="button button-block button-stable">Save</button>
                </div>
                <div class="col padding-horizontal">
                    <a class="button button-block button-energized" ng-click="photosSubmit('next')">Next</a>
                </div>
            </div>

        </form>
    </div>

</ion-content>
</ion-view>
