<ion-view cache-view="false">
<ion-content>

    <div class="ci-body padding">

        <h3 class="ci-subsection-title">
            Processing
            <a ng-href="#/farm/view/{{farm_id}}" class="button button-clear button-positive ci-pull-right">View Record</a><a ng-href="#/farm/save/{{farm_id}}/" class="button icon-left ion-chevron-left button-clear button-positive ci-pull-right">Back to main</a>
        </h3>

        <form class="ci-list" ng-submit="processingSubmit()">

            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Processing Method</span>

                    <input type="text" data-src="processing_method_listing" placeholder="Processing" ng-model="farm.processing.processing_method" data-autocomplete data-title="Select Processing Method">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Drying Method</span>
                    <input type="text" placeholder="Drying" ng-model="farm.processing.drying_method" data-src="drying_method_listing" data-autocomplete data-title="Select Drying Method">
                </label>

                <div class="item item-input item-stacked-label">
                    <span class="input-label">Dry / Wet Fermentation time</span>
                    <div class="row">
                        <div class="col col-80">
                            <input type="number" placeholder="" ng-model="farm.processing.fermentation_time">
                        </div>
                        <div class="col ci-input-ref">
                            Hours
                        </div>
                    </div>
                </div>


                <div class="item item-input item-stacked-label">
                    <span class="input-label">Average Drying Time</span>

                    <div class="row">
                        <div class="col col-80">
                            <input type="number" placeholder="" ng-model="farm.processing.drying_time">
                        </div>
                        <div class="col ci-input-ref">
                            Days
                        </div>
                    </div>
                </div>

                <div class="item item-input item-stacked-label">
                    <span class="input-label">Processing Video</span>

                    <input type="hidden" ng-model="farm.processing.video">
                    <input type="hidden" ng-model="farm.processing.video_thumb">

                    <div class="row text-center ci-full-img" ng-if="farm.processing.video">
                        <video ng-if="farm.processing.video" controls="controls" preload="metadata" style="width: 100%" webkit-playsinline="webkit-playsinline" class="videoPlayer" poster="{{ full_path(farm.processing.video_thumb) }}"><source ng-src="{{ full_path(farm.processing.video) }}"/></video>
                    </div>

                    <div class="row text-center padding-vertical">

                        <div class="col">
                            <a class="button ion-videocamera" ng-click="captureVideo()"></a>
                            <br>Take a video
                        </div>

                        <div class="col">
                            <a class="button ion-grid" ng-click="selectVideo()"></a>
                            <br> Select from Gallery
                        </div>

                    </div>
                </div>

            </div>


            <hr>


            <div class="row">
                <div class="col padding-horizontal">
                    <button type="submit" class="button button-block button-stable">Save</button>
                </div>
                <div class="col padding-horizontal">
                    <a class="button button-block button-energized" ng-click="processingSubmit('next')">Next</a>
                </div>
            </div>

        </form>
    </div>

</ion-content>
</ion-view>
