<ion-view cache-view="false">
    <ion-content>

        <div class="ci-body padding">
        
            <h3 class="ci-subsection-title">
                Varieties
                <a ng-href="#/farm/view/{{farm_id}}" class="button button-clear button-positive ci-pull-right">View Record</a><a ng-href="#/farm/save/{{farm_id}}/" class="button icon-left ion-chevron-left button-clear button-positive ci-pull-right">Back to Main</a>
            </h3>
            
            <form class="ci-list" ng-submit="varietySubmit()">
                 
                <div class="list">
                    <div class="item item-input item-stacked-label" ng-repeat="(key, value) in farm.variety">
                        <div class="row">
                            <div class="col col-80">
                                <input type="text" ng-model="farm.variety[key]" placeholder="Varietal Name" data-autocomplete data-src="variety_listing" data-title="Select Variety">
                            </div>
                            <div class="col col-top ci-icon-large">
                                 <a ng-if="$index > 0" class="button button-block button-small button-assertive" ng-click="removeVariety(key)">Remove</a>
                                <a ng-if="$index == 0" class="button button-block button-small button-balanced" ng-click="addVariety()">Add</a>
                            </div>
                        </div>
                    </div>
                </div>
                    
                <hr>
                
                <div class="row">
                    <div class="col padding-horizontal">
                        <button type="submit" class="button button-block button-stable">Save</button>
                    </div>
                    <div class="col padding-horizontal">
                        <a class="button button-block button-energized" ng-click="varietySubmit('next')">Next</a>
                    </div>
                </div>
                
            </form>

        </div>
            
    </ion-content>
</ion-view>