<ion-view>
    <ion-content>

        <div class="ci-body">

            <div class="list">
                <a class="item" href="#/farm/save/{{farm_id}}/location">
                    Location
                </a>

                <a class="item" href="#/farm/save/{{farm_id}}/people">
                    Farm Personnel
                </a>

                <a class="item" href="#/farm/save/{{farm_id}}/size">
                    Farm Size
                </a>

                <a class="item" href="#/farm/save/{{farm_id}}/varieties">
                    Varieties
                </a>

                <a class="item" href="#/farm/save/{{farm_id}}/processing">
                    Processing
                </a>

                <a class="item" href="#/farm/save/{{farm_id}}/legacy">
                    Legacy / Story
                </a>

                <a class="item" href="#/farm/save/{{farm_id}}/plans">
                    Plans / Future
                </a>

                <a class="item" href="#/farm/save/{{farm_id}}/photos">
                    Photos
                </a>
            </div>

            <br><br><br><br><br><br>
            <br><br><br><br><br><br>           
        </div>
    </ion-content>
</ion-view>