<ion-view cache-view="false">
<ion-content>

    <div class="ci-body padding">

        <h3 class="ci-subsection-title">
            Legacy / Story
            <a ng-href="#/farm/view/{{farm_id}}" class="button button-clear button-positive ci-pull-right">View Record</a><a ng-href="#/farm/save/{{farm_id}}/" class="button icon-left ion-chevron-left button-clear button-positive ci-pull-right">Back to main</a>
        </h3>

        <form class="ci-list" ng-submit="legacySubmit()">

            <div class="list">
                
                <div class="item item-input item-stacked-label">
                                  
                    <div class="row text-center padding-vertical">

                        <div class="col text-center">
                            <a ng-class="{'button ion-ios-mic' : status == 'recording', 'button button-light ion-ios-mic' : status == 'playing', 'button button-positive ion-ios-mic-outline' : status == 'waiting'}" ng-click="captureAudio()"></a>
                            <br>
                            <span ng-if="status == 'recording'">Recording...</span>
                            <span ng-if="status != 'recording'">Record Audio</span>
                        </div>

                        <div class="col">
                            <div class="list">
                                <div ng-repeat="(key, value) in farm.legacy.audio" class="item item-input text-center">
                                    <a ng-class="{'button ion-ios-pause' : playing[key] == '1', 'button button-light ion-ios-play' : (status != 'waiting' && playing[key] != 1), 'button button-balanced ion-ios-play' : status == 'waiting'}" ng-click="playAudio(key)"></a> &nbsp; &nbsp;
                                    <a ng-click="removeAudio(key)" class="button ion-ios-trash"></a>
                                    <input type="hidden" ng-model="farm.legacy.audio[key]">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="item item-input item-stacked-label">
                                
                    <textarea ui-tinymce ng-model="farm.legacy.text" placeholder="Start Typing" rows="8"></textarea>

                </div>

            </div>

           
            <hr>


            <div class="row">
                <div class="col padding-horizontal">
                    <button type="submit" class="button button-block button-stable">Save</button>
                </div>
                <div class="col padding-horizontal">
                    <a class="button button-block button-energized" ng-click="legacySubmit('next')">Next</a>
                </div>
            </div>

        </form>
    </div>

</ion-content>
</ion-view>