<ion-view cache-view="false">
    <ion-content>

        <div class="ci-body padding">
        
            <h3 class="ci-subsection-title">
                Location
                <a ng-href="#/farm/view/{{farm_id}}" class="button button-clear button-positive ci-pull-right">View Record</a><a ng-href="#/farm/save/{{farm_id}}/" class="button icon-left ion-chevron-left button-clear button-positive ci-pull-right">Back to main</a>

            </h3>
            
            <form class="ci-list" ng-submit="locationSubmit()">
                
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Country</span>
                        <input type="text" data-src="country_listing" ng-model="farm.location.country" placeholder="Start Typing Country Name" data-autocomplete data-title="Select Country">

                    </label>

                   <label class="item item-input item-stacked-label">
                        <span class="input-label">Region</span>
                        <input type="text" ng-model="farm.location.region" placeholder="Region Name">
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Sub-Region</span>
                        <input type="text" ng-model="farm.location.sub_region" placeholder="Sub-Region Name">
                    </label>
                
                
                    <div class="item item-input item-stacked-label">
                        <span class="input-label">Altitude</span>
                        <div class="row">
                            <div class="col-50">
                                <input type="text" ng-model="farm.location.alt" placeholder="Tap Acquire">
                            </div>
                            <div class="col">
                                <div class="ci-input-ref">masl</div>
                            </div>
                            <div class="col">
                                <a class="button button-block button-small button-positive" ng-click="getAlt()">Acquire</a>
                            </div>
                        </div>

                    </div>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Location</span>
                        <div class="row">
                            <div class="col">
                                <input type="text" ng-model="farm.location.lat" placeholder="Latitude">
                            </div>

                            <div class="col ci-input-ref">
                                <input type="text" ng-model="farm.location.lng" placeholder="Longitude">
                            </div>
                        </div>
                    </label>

                     <div class="row padding-top">
                        <div class="col col-33 col-offset-67">
                            <a class="button button-block button-small button-positive" ng-click="getLatLng()">Acquire</a>
                        </div>
                    </div>

                </div>
                
                <hr>
                
                <div class="row">
                    <div class="col padding-horizontal">
                        <button type="submit" class="button button-block button-stable">Save</button>
                    </div>
                    <div class="col padding-horizontal">
                        <a class="button button-block button-energized" ng-click="locationSubmit('next')">Next</a>
                    </div>
                </div>
                
            </form>
        </div>
    </ion-content>
</ion-view>