<ion-view cache-view="false">
    <ion-content>

        <div class="ci-body padding">
        
            <h3 class="ci-subsection-title">
                Farm Personnel
                <a ng-href="#/farm/view/{{farm_id}}" class="button button-clear button-positive ci-pull-right">View Record</a><a ng-href="#/farm/save/{{farm_id}}/" class="button icon-left ion-chevron-left button-clear button-positive ci-pull-right">Back to main</a>
            </h3>
        
            <form class="ci-list" ng-submit="peopleSubmit()">

                <div class="list">
                
               
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Owner / Manager</span>  
                        <input type="text" ng-model="farm.people.manager_name" placeholder="Owner / Manager Name">
                    </label>

                    <div class="item item-input item-stacked-label">
                        <span class="input-label">Other</span> 

                        <div class="row">
                            <div class="col col-90">
                                <input type="text" ng-model="farm.people.other[0]" placeholder="Name / Title">
                                
                            </div>
                            <div class="col">
                                <a class="button button-block button-small button-balanced" ng-click="addPeople()">Add</a>
                            </div>
                        </div>
                    </div>

                    <div class="item item-input item-stacked-label" ng-repeat="row in people_listing">
                        
                        <div class="row">
                            <div class="col col-90">
                                <input type="text" ng-model="farm.people.other[$index + 1]" placeholder="Name / Title">
                                
                            </div>
                            <div class="col">
                                <a class="button button-block button-small button-assertive" ng-click="removePeople()">Remove</a>
                            </div>
                        </div>

                    </div>

                    <div class="item item-input item-stacked-label">
                        <span class="input-label">Number of Employees</span>

                        <div class="row">
                            <div class="col">
                                Full Time
                                <input type="number" ng-model="farm.people.number_of_ft_employees" placeholder="">
                                
                            </div>

                            <div class="col ci-col">
                                Seasonal
                                <input type="number" ng-model="farm.people.number_of_seasonal_employees" placeholder="">
                                
                            </div>
                        </div>
                    </div>


                    
                </div>

                <hr>
                
                <div class="row">
                    <div class="col padding-horizontal">
                        <button type="submit" class="button button-block button-stable">Save</button>
                    </div>
                    <div class="col padding-horizontal">
                        <a class="button button-block button-energized" ng-click="peopleSubmit('next')">Next</a>
                    </div>
                </div>
                
            </form>
        </div>
    </ion-content>
</ion-view>