<ion-view cache-view="false">
    <ion-content>

    	<div class="ci-body padding ci-view">


    		<div class="row">
                <div class="col col-25 padding-right">

                	<div class="ci-item-thumb ci-full-img" style="background-image: url({{(farm.photos[0]) ? full_path(farm.photos[0]) : 'img/no-photo.png'}})">
                    	<img ng-src="{{ full_path(farm.photos[0]) }}" ng-if="farm.photos[0]" fullscreen>
                    </div>

                </div>

                <div class="col col-bottom">
                    <div style="position: relative">
                    	<span class="ci-large-text">
                            {{farm.name}}<br />
                            {{farm.created_at | date: "MM/dd/yyyy"}}
                        </span>

                    </div>

                </div>
            </div>

            <div class="button-bar padding-top">

                <a class="button button-small" ng-href="#/farm/save/{{farm.id}}/">Edit</a>
                <a class="button button-small" href ng-click="email(farm.id)">Email</a>
                <a class="button button-small" href ng-click="delete_record(farm.id)">Delete</a>


            </div>

            <h2 class="first-heading">Location</h2>

            <div class="row ci-alt-font">

            	<div class="col">
            		<div class="list">
            			<div class="item item-stacked-label">

            				<h3>{{farm.location.country}}</h3>
            				<span class="item-label ci-fade-label">Country</span>
            			</div>

            			<div class="item  item-stacked-label">

            				<p>{{farm.location.alt}}</p>
            				<span class="item-label ci-fade-label">Altitude</span>
            			</div>

            			<div class="item item-stacked-label">

            				<p>{{farm.location.lat}}</p>
            				<span class="item-label ci-fade-label">Latitude</span>
            			</div>

            			<div class="item item-stacked-label">

            				<p>{{farm.location.lng}}</p>
            				<span class="item-label ci-fade-label">Longitude</span>
            			</div>
            		</div>

            	</div>

            	<div class="col">
            		<div class="item item-stacked-label">
        				<p>{{farm.location.region}}</p>
        				<span class="item-label ci-fade-label">Region</span>
        			</div>

        			<div class="item item-stacked-label">
        				<p>{{farm.location.sub_region}}</p>
        				<span class="item-label ci-fade-label">Sub-region</span>
        			</div>
            	</div>

            </div>

            <h2>Photos</h2>


            <div class="text-center" ng-if="slides.length > 0">
                <ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-auto-slide rn-carousel-pause-on-hover>
                    <li ng-repeat="slide in slides track by slide.id" ng-class="'id-' + slide.id">
                		<div ng-style="{'background-image': 'url(' + full_path(slide.img) + ')'}"  class="ci-slide-image"></div>
                	</li>
                </ul>
                <div rn-carousel-indicators ng-if="slides.length > 1" slides="slides" rn-carousel-index="carouselIndex"></div>
            </div>

            <h2>Farm Personnel</h2>

            <div class="row ci-alt-font">

            	<div class="col">

            		<div class="list">
            			<div class="item">
            				<p>{{farm.people.manager_name}}</p>
            				<span class="item-label ci-fade-label">Owner/Manager</span>

            			</div>

            			<div class="item">
            				<span class="item-label ci-fade-label">Other People</span>
            				<p ng-repeat="(key, value) in farm.people.other">{{value}}</p>


            			</div>


            		</div>

            	</div>

            	<div class="col">

            		<div class="list">
            			<div class="item">
		            		<h3>{{farm.people.number_of_ft_employees}}</h3>
                            <span class="item-label ci-fade-label">Full Time Employees</span>
		            	</div>
                        <div class="item">
                            <h3>{{farm.people.number_of_seasonal_employees}}</h3>
                            <span class="item-label ci-fade-label">Seasonal Employees</span>
                        </div>
		            </div>
            	</div>

            </div>

            <h2>Farm Size</h2>

            <div class="row ci-alt-font">

            	<div class="col">
            		<div class="list">
            			<div class="item item-stacked-label">

            				<p>{{farm.size.size}} {{farm.size.unit}}</p>
            				<span class="item-label ci-fade-label">Size of Farm</span>
            			</div>

            			<div class="item  item-stacked-label">

            				<p>{{farm.size.anual_coffee_production}}</p>
            				<span class="item-label ci-fade-label">Total Annual Coffee Production</span>
            			</div>

            			<div class="item item-stacked-label">

            				<p>{{farm.size.soil_type}}</p>
            				<span class="item-label ci-fade-label">Soil Type</span>
            			</div>

            		</div>

            	</div>

            	<div class="col">
            		<div class="item item-stacked-label">
        				<h3>{{ (hectares(farm.size.planted_in_coffee_area, farm.size.planted_in_coffee_unit) / hectares(farm.size.size, farm.size.unit)) * 100 | number:0 }} % </h3>
        				<span class="item-label ci-fade-label">Planted in Coffee</span>
        			</div>

        			<div class="item item-stacked-label">
        				<span class="item-label ci-fade-label">Other Crops</span>
        				<p>{{farm.size.other_crops}}</p>

        			</div>
            	</div>

            </div>

            <h2>Varieties</h2>

            <div class="row ci-alt-font">

            	<div class="col">
            		<p ng-repeat="(key, value) in farm.variety">{{value}}</p>
            	</div>
            </div>

            <h2>Processing</h2>

            <div class="row ci-alt-font">

            	<div class="col">
            		<div class="list">
            			<div class="item item-stacked-label">

            				<p>{{farm.processing.processing_method}}</p>
            				<span class="item-label ci-fade-label">Processing Method</span>
            			</div>

            			<div class="item  item-stacked-label">

            				<p>{{farm.processing.drying_method}}</p>
            				<span class="item-label ci-fade-label">Drying Method</span>
            			</div>



            		</div>

            	</div>

            	<div class="col">
            		<div class="item item-stacked-label">
        				<p>{{ farm.processing.fermentation_time }} Days </p>
        				<span class="item-label ci-fade-label">Dry / Wet Fermentation time</span>
        			</div>

        			<div class="item item-stacked-label">
        				<p>{{ farm.processing.drying_time }} Days </p>
        				<span class="item-label ci-fade-label">Average Drying Time</span>
        			</div>
            	</div>

            </div>

            <video ng-if="farm.processing.video" controls="controls" preload="metadata" style="width: 100%" webkit-playsinline="webkit-playsinline" class="videoPlayer" poster="{{ full_path(farm.processing.video_thumb) }}"><source ng-src="{{ full_path(farm.processing.video) }}"/></video>

            <h2>Legacy/Story</h2>

            <div data-ng-bind-html="farm.legacy.text" class="ci-alt-font"></div>


            <div class="list">

                <div ng-repeat="(key, value) in farm.legacy.audio" class="item">
                    <a ng-class="playing[key] == '1' ? 'button ion-ios-pause' : 'button button-balanced ion-ios-play'" ng-click="playAudio(key)"></a>
                </div>

            </div>

            <h2>Plans / Future</h2>

            <div data-ng-bind-html="farm.plans.text" class="ci-alt-font"></div>



    	</div>

	</ion-content>
</ion-view>

