.pane, .view {
    background: url('../img/pattern.png');
}
.ci-alt-font, input {
    font-family: 'Raleway', sans-serif;
}
.ci-body {
    background: #fff;
    margin: 0 10px;
    position: relative;
    -webkit-box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.75);
}
.ci-body form hr {
    display: none;
}
ion-content.main > div {

}
.item-input {
    padding-left: 0;
    border: 0;
    border-bottom: 2px dotted #666;
    padding-bottom: 0;
}

.ci-plain-item {
    border: none;
}

.item-checkbox .checkbox {
    right: auto;
    left: 0;
}

.ci-sub-item {
    border-bottom: none;
}
.ci-col {
    border-left: 1px solid #666;
    padding-left: 5px;
}
.ci-icon-large {
    font-size: 2rem;
}

label.item-select {
    height: 35px;
}

.space {
    margin: 2rem 0;
}
small {
    font-size: 75%;
}
.scroll {
    height: 100%;
}

img:not(.native) {
    max-width: 100%;
}

.ci-sub-header {
    padding: 2px 10px;
    text-transform: uppercase;
    margin: 0;
}
.ci-section-title {
    font-size: 120%;
    padding: 0 10px;
    margin: 0;
    position: absolute;
    z-index: 20;
    width: 100%;
}
.ci-section-title > div {
    background: #fff;
    padding: 10px;
}
.ci-section-title .ci-wrapper {
    border: 1px solid #666;
    border-top: none;
    padding: 5px;
    background: #fff;
}
.ci-section-title small {
    display: block;

}

.ci-subsection-title {
    line-height: 42px;
}


.ci-options {
    position: absolute;
    right: 0;
    top: 0px;
    width: 230px;
}

.ci-icon-bottom {
    float: right;
    position: absolute;
    right: 15px;
    bottom: 15px;

    border-radius: 30px;
}
.ci-item-thumb {
    min-height: 64px;
    height: 12vw;
}
.ci-fade-label {
    color: #ccc;
}

.ci-view h3 {
    font-size: 24px;
}

.ci-home-listing-item {
    float: left;
    width: 50%;
    height: 150px;
    position: relative;
    color: #fff;
    padding: 2px;
    margin-bottom: 4px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}
.ci-home-listing-item .ci-full-img {
    margin: 0;
}
.ci-home-listing-item h2 {
    color: #fff;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    position: absolute;
    bottom: 15px;
    left: 15px;
}


.ci-view > h2 {
    border-top: 2px dashed #666;
    padding-top: 10px;
}
.ci-view > h2.first-heading {
    border-top: none;
    padding-top: 0;
}

/** FOOTER **/
.ci-footer {

	border: none;
	text-align: center;
	display: block;
	padding: 0;
	background-color: #fff;

	border: 3px solid #D0D0D0;
	border-bottom: none;
	border-radius: 2px;

	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;

	-webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
	box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.75);

	background-image: url('../img/footer.png');
	background-repeat: repeat-y;
	background-size: 20% auto;
}

.ci-footer-logo {
	float: left;
	max-height: 90%;
	margin: 5px 0 0 5px;
}

img.ci-footer-slogan {
	position: absolute;
	right: 2px;
	bottom: 2px;
	max-width: 38%;
}


.ci-popup .popup{
    background-color: #fff;
    width: 300px;
    text-align: center;
}

.ci-pull-right {
    float: right;
    text-align: right;
}
.ci-top-bar {
	padding-left: 10px;
	padding-right: 10px;
}
.ci-menu-button, .ci-menu-button hide, .ci-sync-button {
    display: block;
    /*border: none;*/
    background-image: url('../img/icon/menu.png');
    background-color: #fff;
    background-size: contain;


    height: 31px;
    width: 31px;
}
.ci-sync-button {
    background-image: url('../img/icon/sync.png');
}

.ci-settings-link {
    padding-right: 36px !important;

    background-image: url('../img/icon/gear.png') !important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
    background-size: auto 31px !important;

    font-size: 13px !important;

}
.ci-icon-gear {
    width: 31px;
    height: 31px;
    display: inline-block;


    background-image: url('../img/icon/gear.png');
    background-color: transparent;
    background-size: contain;
}

.ci-icon-edit {
    width: 31px;
    height: 31px;
    display: inline-block;


    background-image: url('../img/icon/pencil.png');
    background-color: transparent;
    background-size: contain;
}

.ci-link {
    color: #8D1632 !important;
    font-weight: bold !important;
}
.ci-alt-link, .ci-alt-link:hover, .ci-alt-link:focus {
    color: #000;
    text-decoration: none;
}
.ci-large-text {
    font-size: 34px;
}

.ci-diagonal-text-1 {

    display: block;
    line-height: 1;

    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.ci-diagonal-text-2 {

    display: block;
    line-height: 1;

    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

.ci-diagonal-text-3 {

    display: block;
    line-height: 1;

    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

.ci-diagonal-text-4 {

    display: block;
    line-height: 1;

    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.ci-input-label {
    color: #999;
    padding: 4px 0px 12px 1px;
    font-size: 16px;
    display: inline-block;
}
input[type=color].ci-plain-input, input[type=date].ci-plain-input, input[type=datetime-local].ci-plain-input, input[type=datetime].ci-plain-input, input[type=email].ci-plain-input, input[type=month].ci-plain-input, input[type=number].ci-plain-input, input[type=password].ci-plain-input, input[type=search].ci-plain-input, input[type=tel].ci-plain-input, input[type=text].ci-plain-input, input[type=time].ci-plain-input, input[type=url].ci-plain-input, input[type=week].ci-plain-input, textarea.ci-plain-input, .ci-plain-input {
    border: 1px solid #ccc;
    padding: 2px 8px;
    width: 100%;
}

hr {
    border: 1px solid #666;
}

.ci-input-ref {
    line-height: 34px;
    border-left: 1px solid #666;
    padding-left: 5px;
}

.ci-input-number, input.ci-input-number {
    width: 70px;
    display: inline-block;
}
.ci-no-label select {
    padding: 6px;
    width: 100%;
    max-width: 100%;
    direction: ltr;
}

.ci-list-item.row, .ci-list-item.row .col {
    padding: 0;
    margin-right: 10px;
}
.ci-list-item.row:last-child, .ci-list-item.row .col:last-child {
    margin-right: 0;
}

.ci-input-legend {
    display: block;
}

.item-input .ci-input-legend input {
    width: 100px;
    display: inline-block;
}

.ci-full-img img {
    opacity: 0;
}
.ci-full-img {
    background-size: cover;

    background-color: #000000;
    background-position: center center;
    background-repeat: no-repeat;

    overflow: hidden;
}
.ci-full-img:not(.ci-item-thumb) {
    height: 150px;
    margin: 10px 0;
}

/** HOMEPAGE **/
.ci-home-icon {
    position: absolute;
    width: 80px;
    height: 80px;

    top: 50%;
    margin-top: -40px;
    left: 50%;
    margin-left: -40px;
}
.ci-home-links {
    border-collapse: collapse;
    border: 2px solid #fff;
    width: 100%;
}
.ci-home-links td {
    border: 1px solid #000;
    width: 50%;
    height: 150px;
    vertical-align: middle;
    text-align: center;
}
.ci-home-links td a {
    /*width: 70%;
    position: relative;*/
}
.ci-home-links .ci-diagonal-text-1 {
    top: 116%;
    left: 37%;
}
.ci-home-links .ci-diagonal-text-2 {
    top: 72%;
    left: 12%;
}

.ci-home-links .ci-diagonal-text-3 {
    top: 12%;
    left: 44%;
}

.ci-home-links .ci-diagonal-text-4 {
    top: 66%;
    left: 12%;
}

/** VIEW PAGE **/
.ci-view .item {
    border: none;
    margin: 0;
    padding: 5px 0;
}
.ci-view .item-label {
    font-size: 14px;
    white-space: normal;
}

/** LISTS **/
.ci-grid-list {
    list-style-type: none;
    margin: 0 -5px;
}
.ci-grid-list li {
    margin: 5px;
    display: inline-block;
}

.progress {
    position: relative;
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
}
.progress-percentage {
    position: absolute;
    width: 0;
    height: 30px;
    background-color: #8D1632;
}

ul[rn-carousel] {
    height: 200px;
    width: 100%;
    margin: 0 auto;
}

div.rn-carousel-indicator span.active {
    color: #8D1632 !important;
}
.ci-slide-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #000;
    color: white;
    height: 100%;
    text-align: right;
}

/* POSTCARD */
.postcard-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 10px;
	background: url('../img/pattern.png');
}
.postcard-bg img {
	max-width: 100%;
	max-height: 100%;
}
.postcard-bg .item-input {
	position: absolute;
	font-family: 'mr_alexlight';
	font-size: 20px;
	bottom: 20px;
	left: 20px;
	width: 80%;
	line-height: 40px;
	border: none;
	background: none;
}
.postcard-bg .item-input #postcard-title {
	font-family: 'mr_alexlight';
	font-size: 20px;
	bottom: 20px;
	left: 20px;
	opacity: 0.7;
	width: 80%;
	line-height: 40px;
}
.postcard-modal .bar-footer {
    height: 50px;
}
.postcard-modal .has-footer {
	bottom: 50px;
}
.postcard-model .bar-footer .button {
    border: none;
}
